:root{
    --bgcolor: #FFFEF8;
    --fontsize: 16px;
    --fontfamiliy: sans-serif;
    --accentcolor: #E96A6A;
    --compcolor: #4EB4FF;
    --fontcolor:#3a3a3a;
    --borderradius: 10px;
    --bordercolor: rgb(138, 138, 138);
}

@mixin flexcolumnn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flexcrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin boxshadow {
    box-shadow: 5px 5px 0px var(--compcolor);        
}

body{
    background-color: var(--bgcolor);
    font-size: var(--fontsize);
    font-family: var(--fontfamiliy);
    color: var(--fontcolor);
    margin: 0 20px;
}
img{
    max-width: 100%;
}
container{
    @include flexcolumnn();
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
}
logo{
    background-image: url(../img/Jausenholer.png);
    width: 100%;
    margin: 0 20 0 20;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    h1{
        visibility: hidden;
    }
}

description{
    @include flexcolumnn();
    margin: 40px 0 40px 0;
    width: 100%;

    h1{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0px; font-size: 1.5rem;
        margin-bottom: 5px;
    }
    p{
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top:5px;
    }
}

seperator{
    margin: 50px 0 20px 0 ;
    display: inline-block;
    width: 100%;
    color: var(--bordercolor);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 0.75rem;
    &::after{
        content: "";
        margin: 5px 0 0 0;
        border-bottom: 1px solid var(--bordercolor);
        width: 100%;
        position: relative;
        display: block;
    }
}
input, textarea{
    width: 100%;
    min-height: 45px;
    border-radius: var(--borderradius);
    border-color: var(--bordercolor);
    border-style: solid;
    font-size: 1.25rem;
    padding-left: 10px;
    border-width: 1px;
    background-color: transparent;
    box-shadow: none;
    color: var(--fontcolor);
    margin-bottom: 10px;
    font-family: var(--fontfamiliy);

    &::placeholder
    {
        color: var(--bordercolor);
    }
    

    &:focus{
        outline-color: var(--compcolor);
    }
}
label{
    margin-bottom: 10px;
    margin-top: 10px;
}

button{
    background-color: var(--accentcolor);
    color:var(--bgcolor);
    border: 1px solid var(--bgcolor);
    @include boxshadow();
    text-transform: uppercase;
    min-height: 50px;
    line-height: 50px;
    border-radius: var(--borderradius);
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;

    &:hover{
        border-width: 3px;
    }
}
.my-50{
    margin: 50px 0px;

}
form{
    @include flexcolumnn();
    margin-bottom: 100px;

}

.form-inlinebutton{
    margin-top: 36px;
}
row{
    @include flexcrow();
    
}

.col-6{
    width: 50%;
}

.col-10{
    width: calc(100% / 12 * 10);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-1{
    width: calc(100% / 12 * 1);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}

column{
    @include flexcolumnn();
    padding-left: 20px;
    box-sizing: border-box;
}
    
column:first-child{
    padding-left: 0;
}



list{
    @include flexcolumnn();

    jausenstation{

        @include flexcolumnn();
        text-decoration: none !important;
        position: relative;
        cursor: pointer;
        padding: 20px;
        font-size: 1.25rem;
        border: 1px solid var(--bordercolor);
        border-radius: var(--borderradius);
        margin: 0 0 20px 0;
        transition: all 0.3s ease-in-out;
        station{
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        detaillist{
            @include flexcrow();
            margin-top: 20px;

            detail{
                margin: 0 20px 0 0;
                
                description{
                    margin:0;
                    font-size: 0.75rem;
                }
                value{
                }
            }
        }
        &:hover{
            @include boxshadow();

            &::after{
                right: 15px;
              }
        }
        &::after{
            content: "";
            font-family: "Wingdings 3";
            position: absolute;
            transform: translateY(-50%) scaleY(300%) scaleX(70%);
            right: 20px;
            top:50%;
            transition: all 0.3s ease-in-out;
        }

    }

    jausenstation.no-click{

        padding: 0px;
        border: none;
        margin: 40px 0 20px 0;
        transition: all 0.3s ease-in-out;
      
        &:hover{
            box-shadow: none;

            &::after{
                right: 15px;
              }
        }
        &::after{
            content: "";
        }

    }
}
i{
    font-family: "Windings";
}
a{
    color: var(--fontcolor);
    transition: all 0.3s ease-in-out;
    :visited{
        color: var(--fontcolor);

    }
    :hover{
        color: var(--accentcolor);
    }
}

a.ember-view{
   text-decoration: none;
   :hover{
    color: var(--fontcolor);
}
}

footer{
    background-color: var(--accentcolor);
    color: #FFFEF8 !important;
    margin: 0 -20px;

    a{
        color: var(--bgcolor);
        transition: all 0.3s ease-in-out;
        :visited{
            color: var(--bgcolor);
    
        }
        :hover{
            color: var(--compcolor);
        }
    }
}
circle{
    display: block;
    width: 10vw;
    height: 10vw;
    transform: translateY(-50%);
    background-color: var(--accentcolor);

    border-radius: 9999px;
}