<a class="backbutton" routerLink="/"> < </a>
<list class="">
    
    <jausenstation class="no-click">
        <station>{{jausenholer?.jausenstation}}</station>
        <name>{{jausenholer?.name}}</name>
        <p *ngif="jausenholer?.description" class="description">
            <b>INFO:</b>
            {{jausenholer?.description}}
        </p>

        <detaillist>
            <detail>
                <description>Bestellen bis: </description>
                <value>{{ jausenholer?.ordertill.seconds *1000| date: 'HH:mm'}} Uhr</value>
            </detail>
             <detail>
                <description>Lieferung: </description>
                <value>{{ jausenholer?.deliverytill.seconds *1000| date: 'HH:mm'}} Uhr</value>
            </detail>
        </detaillist>
        

    </jausenstation>

</list>
<description *ngIf="(jausenholer?.ordertill.seconds <= currentTime)">
    
    <h1>Warten auf die Bestellung.</h1>
    <p>Das Zeitfenster zum eintragen für Bestellungen ist vorüber.</p>
    <div class="image-container"><img class="leberkas" src="./assets/MiniLeberKas_FranzMuehringer.gif">
    </div>

</description>
<div  *ngIf="(jausenholer?.ordertill.seconds >= currentTime)">
<seperator>Deine Bestellung</seperator>
<form [formGroup]="bestellenForm" (ngSubmit)="createBestellung()">

<label for="name">Name</label>
<input type="text" name="name" formControlName="name"  placeholder="Chris" id="name">


<row formArrayName="products" *ngFor="let t of products.controls; let i = index;let last = last; let first = first;">

<column class="col-2" [formGroupName]="i">
<label for="count">Anzahl</label>
<input type="number" formControlName="count"  value="1"  step="1" name="count" id="{{'count'+i}}">
</column>
<column class="col-8" [formGroupName]="i">
<label for="bestellung">Produkt</label>
<input type="text" formControlName="name" name="bestellung" placeholder="Pizza "  id="{{'name'+i}}">


</column>
<column class="col-2" [formGroupName]="i">
<button type="button" (click)="addProduct()" *ngIf="(products.controls[i].get('name')?.valid) && last" class="form-inlinebutton">+</button>
<button type="button" (click)="removeProduct(i)" *ngIf="(!(first && last) && !last) || !(products.controls[i].get('name')?.valid) && last && !first" class="form-inlinebutton">-</button>

</column>


</row>
<button type="submit"  [disabled]="!bestellenForm.valid" class="my-50">Bestellen</button>
</form>

</div>
<div class="empty-space"></div>

<description>
    <h1>Alle Bestellungen</h1>
    <p>Sieh dir an was deine Kolleg*innen bestellt haben.</p>
</description>
<row>
    <column class="col-12">
        <bestellung *ngFor="let item of bestellungen | async">
            <name>
                {{item.name}}
            </name>
            <products>
                <product *ngFor="let prod of item.products">
                    <count>{{prod.count}}</count>
                    <name>{{prod.name}}</name>
                </product>
            </products>
            <button type="button" (click)="deleteBestellung(item.id)" *ngIf="(item.user_id == currentUser.user_id)" class="form-inlinebutton px-10">Bestellung Löschen</button>

        </bestellung>
    </column>
</row>
<div class="empty-space"></div>

<description>
    <h1>Zusammenfassung</h1>
    <p>Hier findest du eine automatische Zusammenfassung aller Bestellungen.</p>
</description>
<row>
    <column class="col-12">
        <bestellung *ngFor="let item of produkte">
            <products>
                <product>
                    <count>{{item.count}}</count>
                    <name>{{item.name}}</name>
                </product>
            </products>

        </bestellung>
    </column>

</row>
<div class="empty-space"></div>




