{{page-title "Bestellen"}}
{{outlet}}


<list class="">
   
        <jausenstation class="no-click">
        <station>Goldstein Pizza</station>
        <name>Jane Doe</name>

        <detaillist>
            <detail>
                <description>Bestellen bis: </description>
                <value>25 min</value>
            </detail>
             <detail>
                <description>Lieferung: </description>
                <value>12:00 Uhr</value>
            </detail>
        </detaillist>
    </jausenstation>

</list>
<seperator>Deine Bestellung</seperator>
<form>

<label for="name">Name</label>
<input type="text" name="name" placeholder="Chris" id="">
<label for="mail">Mail</label>
<input type="email" name="mail" placeholder="chris.p@alpinemetaltech.com"  id="">

<seperator>Jausenstation Details</seperator>
<row>
<column class="col-2">
<label for="count">Anzahl</label>
<input type="number"  value="1"  step="1" name="count" id="">
</column>
<column class="col-8">
<label for="bestellung">Produkt</label>
<input type="text" name="bestellung" placeholder="Pizza " id="">


</column>
<column class="col-2">
<button type="button" class="form-inlinebutton">+</button>

</column>


</row>
<button type="submit" class="my-50">Bestellen</button>
</form>
<description>
    <h1>Alle Bestellungen</h1>
    <p>Sieh dir an was deinen Kolleg*innen bestellt haben.</p>
</description>


